# Preventing direct access to config files
<Files "config.php">
    Order Allow,Deny
    Deny from all
</Files>

Options -Indexes

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^(localhost|127\.0\.0\.1)(:\d+)?$ [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]